<style>
  p{
  font-size: 20px;
  margin: 5%;
}
  </style>

<p>This bakery is dedicated to the great Anita Baker. You'll get Caught Up In The Rapture of these treats and want to make Sweet Love to them.
  As a baker I do my best and try Giving You the Best That I Got; every morning I have the Same Ole Love for this craft as I did when I first started.
 </p>
