<style>
  .column:nth-child(1){
    height: 300px;
    width: 300px;
    background-image: url("https://pinchofyum.com/wp-content/uploads/Chocolate-Chip-Cookies-Recipe-225x225.jpg");
    background-size: cover;
    background-repeat: none;
    margin: 0em 1em;
  }

  .column:nth-child(2){
    height: 300px;
    width: 300px;
    background-image: url("https://www.simplyrecipes.com/wp-content/uploads/2015/08/peanut-butter-cookies-horiz-a-1800.jpg");
    background-size: cover;
    background-repeat: none;
    margin: 0em 1em;

  }


  </style>

<h1>Thanks For Signing Up! WE GOT ALL THIS</h1>
<div class="row">
  <div class="column"></div>
  <div class="column"></div>
  </div>
  
